<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/polls.css">

</head>
<body>
    <input type="text" id="meetingID" value="<%=meetingId%>" hidden readonly>
    <input type="text" id="hostName" value="<%=hostName%>" readonly hidden>
    <main id="mainBody">
        <!-- <div id="poll-container">
            <h2 id="mainQuestionContainer">Do you love ASFI scholar?</h2>
           <div class="TotalVotes">
            <b> Total Votes</b>
            <button id="totalVotes" value="0">0</button>
           </div> -->
    </main>


   <script src="/js/polls.js"></script>
</body>
</html>
